<h1>Add a Review!</h1>

<%= form_for(@review, @pet_food) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :name, :placeholder => 'Review Title' %>
        <%= f.hidden_field :pet_food_id, :value => @pet_food.id %>
    </div>
    <div>
        <%= f.text_field :content, :placeholder => 'your review' %>
    </div>

<% end %>

